<div class="conatiner">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="jumbotron">
                <h1>Welcome to Federal Bank</h1><br>

                <div class="form-group">
                    {{accno}}
                    <label for="accno">Account Number</label>
                    <input [(ngModel)]="accno" type="text" class="form-control" id="accno" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your Account Number with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input [(ngModel)]="pwd" type="password" class="form-control" id="pwd">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="button" class="btn btn-primary" (click)="login()">Submit</button>

            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>