
    <div class="conatiner">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="jumbotron">
                <h1>Welcome to Federal Bank</h1><br>
                <form [formGroup]="LoginForm">
                    <div class="form-group">

                        <label for="accno">Account Number</label>
                        <input formControlName="accno" type="text" class="form-control" id="accno" aria-describedby="emailHelp">
                        <div *ngIf="getError('accno')" class="error">Account number invalid</div>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your Account Number with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password</label>
                        <input formControlName="pwd" type="password" class="form-control" id="pwd">
                        <div *ngIf="getError('pwd')" class="error">Please enter the password</div>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="login()">Submit</button>
                    <br>
                    <a routerLink="register">Register</a>
                </form>

            </div>
        </div>
        <div class="col-4"></div>
    </div>

</div>

