<div class="conatiner">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="jumbotron">
                <h1>Transaction- History</h1><br>
                <table>
                    <thead>
                        <tr>
                            <th>Amount</th>
                            <th> Type</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transaction of transactions">
                            <td>{{transaction.amount}}</td>
                            <td>{{transaction.type}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4"></div>
    </div>